// color palette

// Color1
// HEX: #212121
// RGB: 33 33 33

// Color2
// HEX: #FFFFFF
// RGB: 255 255 255

// Color3
// HEX: #8BC34A
// RGB: 139 195 74

// Color4
// HEX: #26A69A
// RGB: 38 166 154

// Color5
// HEX: #03A9F4
// RGB: 3 169 244

// Color1
// HEX: #90CAF9
// RGB: 144 202 249

// Color2
// HEX: #1565C0
// RGB: 21 101 192

// Color3
// HEX: #283593
// RGB: 40 53 147

// Color4
// HEX: #2196F3
// RGB: 33 150 243

// Color5
// HEX: #ECEFF1
// RGB: 236 239 241

@black: #000;
@dark-grey: #333;
@grey: #ccc;
@light-grey: #ebebeb;
@off-white: #f5f5f5;
@white: #ffffff;
@blue1: #3498db;
@blue2: #2980b9;
@red1: #e74c3c;
@red2: #c0392b;
@yellow1: #f1c40f;
@yellow2: #f39c12;
@green1: #2ecc71;
@green2: #27ae60;
@orange1: #e67e22;
@orange2: #d35400;
@aqua1: #1abc9c;
@aqua2: #16a085;
@cobalt : #26A69A;

//primary colors :-
@primary-background: @off-white;
@nav-background:@cobalt;